.green {
  background: green;
}

.red {
  background-color: aliceblue;
}

.button {
  border: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #333;
  position: relative;
  outline: none;
  color: #000;
  cursor: pointer;
}
.button:active {
  top: 1px;
  box-shadow: none;
}
