.Person {
  width: 60%;
  margin: 1rem auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid rgb(0, 255, 42);
  padding: 1.5rem;
  text-align: center;
  color: #000;
}

@media (min-width: 500px) {
  .Person {
    width: 450px;
  }
}
